.sidebar {
  display: flex;
  position: fixed;
  flex-direction: column;
  flex: 0.2;
  background-color: #040404;
  color: white;
  min-width: 230px;
  height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
}

.logo {
  margin-right: auto;
  object-fit: contain;
  height: 70px;
  padding: 10px;
}
@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
